<div id="loginModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close ml-auto py-2 px-3" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
                <div id="loginAlert" class=""></div>
                <div class="row justify-content-around align-items-center flex-wrap-reverse">
                    <div class="col-sm-5">
                        <button id="facebook" type="button" class="btn btn-primary btn-block">
                            <i class="fa fa-facebook px-2"></i>Facebook</button>
                        <button id="google" type="button" class="btn btn-danger btn-block">
                            <i class="fa fa-google px-2"></i>Google</button>
                        <button id="twitter" type="button" class="btn btn-dark btn-block">
                            <i class="fa fa-twitter px-2"></i>Twitter</button>
                    </div>
                    <div class="col-sm-1">
                        <div class="separationBar d-sm-flex flex-sm-column  align-items-center">
                            <div class="bar"></div>
                            <div class="text-center">
                                <h2 class="p-3">or</h2>
                            </div>
                            <div class="bar"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <form id="loginForm" class="" action="/login" method="post" novalidate>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email </label>
                                <input id="loginEmail" type="email" class="form-control" placeholder="Enter email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                                    required>
                                <div class='invalid-feedback alert alert-danger'></div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input id="loginPassword" type="password" class="form-control" placeholder="Password" autocomplete required>
                                <div class='invalid-feedback alert alert-danger'></div>
                            </div>
                            <div class="form-check">
                                <label class="custom-control custom-checkbox">
                                    <input  type="checkbox"  id="rememberMe" class="custom-control-input" value="off">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Remember me</span>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-gray btn-block">
                                <i></i> Submit</button>
                            <div class="py-2">
                                <a id="passwordReset" href="#" class="">forgot password ?</a>
                            </div>

                        </form>
                        <form id="passwordResetForm" class="" action="/passwordReset" method="post" novalidate hidden>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email </label>
                                <input type="email" class="form-control" placeholder="Enter email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                                    required>
                                <div class='invalid-feedback alert alert-danger'>This Field is required</div>
                            </div>
                            <button type="submit" class="btn btn-gray btn-block">
                                <i></i> reset password</button>
                            <button id="backButton" type="button" class="btn btn-gray btn-block">
                                <i class="fa fa-arrow-left px-2"></i> Back</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>