<div class="col-12 col-lg-2 col-md-3 col-sm-4 p-1">
    <img class="mr-sm-1 card-img-top w-100" src="download.svg" alt="Card image cap">
</div>
<div class="card col-12 col-lg-10 col-md-9 col-sm-8 p-1" style="">
    <div class="card-body w-100">
        <h5 class="card-title">User name</h5>
        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, natus?</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Lorem ipsum dolor sit amet.</li>
        <li class="list-group-item">Lorem ipsum dolor sit amet.</li>
        <li class="list-group-item">Lorem ipsum dolor sit amet.</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link btn btn-primary">Edit</a>
        <a href="#" class="card-link btn btn-primary" disabled>Save</a>
    </div>
</div>