<div class="container-fluid">
    <div id="topBar" class="row bg-warning justify-content-between align-items-center p-1">
        <div id="socialIcons" class="col-2 ">
            <div class="row justify-content-start">
                <div class="px-2">
                    <a href="https://facebook.com" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
                <div class="px-2">
                    <a href="https://twitter.com" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
        <div id="authButtons" class="col-4 ">
            <div class="row justify-content-end  text-right">
                <div id="loginLink" class="px-2">
                    <a href="/login" >
                        <i class="fa fa-sign-in px-1"></i>Login</a>
                </div>

                <div id="registerLink" class="px-2 ">
                    <a href="/register" >
                        <i class="fa fa-user-plus px-1"></i>Register</a>
                </div>
                <div id="dashboardLink" class="px-2 d-none">
                    <a href="/dashboard">
                        <i class="fa fa-cogs px-1"></i>Dashboard</a>
                </div>
                <div id="logoutLink" class="px-2 d-none">
                    <a href="/logout">
                        <i class="fa fa-sign-out px-1"></i>Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>