<div class="row justify-content-center align-items-center text-center" style="height:100vh">
    <div class="col-12 bg-light text-muted">
        <h1 class="display-3">Page not found</h1>
        <h3 class="display-5">The page you're looking for doesn't exist</h3>
    </div>
</div>