<div class="row justify-content-center align-items-center text-center" style="height:100vh">
    <div class="col-12">
        <h1 class="">Page not found</h1>
        <h3 class="">The page you're looking for doesn't exist</h3>
    </div>
</div>