<div class="row justify-content-center align-items-center text-center" style="height:100vh">
    <div class="col-12 bg-light text-muted">
        <h1 class="display-3">Bummer!!</h1>
        <h3 class="display-5">An internal server error happend</h3>
    </div>
</div>