<div class="row justify-content-center align-items-center text-center" style="height:100vh">
    <div class="col-12">
        <h1 class="">Bummer !!</h1>
        <h3 class="">An internal server error happend</h3>
    </div>
</div>