<div class="row justify-content-center ">
    <div id="alert" class="col-12 alert alert- text-center"></div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-5 col-sm-6">
        <form id="passwordResetForm" class="" action="/passwordReset" method="post" novalidate>
            <div class="form-group">
                <label for="email">Email </label>
                <input id="email" name="email" type="email" class="form-control" placeholder="Enter email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                    required>
                <div class='invalid-feedback alert alert-danger'></div>
            </div>
            <button type="submit" class="btn btn-gray btn-block">
                <i></i> reset password</button>
        </form>
    </div>
</div>
<script src="formValidation.js"></script>